@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,700&family=Roboto:ital,wght@0,100;0,500;0,700;1,300;1,900&display=swap");

:root {
    --dark-primary: #1b1f24;
    --primary: #12bdff;
    --primary-hover: #0c6487;
    --white: #fff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Nunito Sans" sans-serif;
  }
  body h1{
      text-align: center;
      padding: 30px 0px;
      background-color: yellow;
  }