@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,700&family=Roboto:ital,wght@0,100;0,500;0,700;1,300;1,900&display=swap");

/* Global Variables Colors */

:root {
  --dark-primary: #1b1f24;
  --primary: #12bdff;
  --primary-hover: #0c6487;
  --white: #fff;
  --about-setion: #262D37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito Sans" sans-serif;
}

header {
  background-color: #1b1f24;
  padding: 20px;
  color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* Logo */
header .logo {
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--primary);
}

ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-right: 20px;
}
ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

header ui li a:hover {
  color: red;
}



/* Section Hero Homepage */
section.hero-section {
  background-color: var(--dark-primary);
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 20px 120px 0px 240px;
}
.hero-section__title {
  font-size: 50px;
  font-weight: 800;
  color: var(--white);
}
.title {
  color: var(--primary);
}
.hero-section__disc {
  color: var(--white);
}
.social-icons {
  margin: 20px 0;
}
.social-icons li {
  margin-right: 15px;
}
ul .social-icons {
  list-style: none;
  display: flex;
}
.social-icons li > a {
  text-decoration: none;
  color: var(--white);
}
.social-icons li > a i.facebook:hover {
  color: rgb(8, 0, 170);
}
.social-icons li > a i.linkedin:hover {
  color: rgb(65, 71, 230);
}
.social-icons li > a i.instagram:hover {
  color: red;
}
/* Hero Buttons */
.hero-buttons{
     margin-right: 10px;
     
}
.btn {
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.btn.btn-primary{
    background-color: var(--primary);
    color: var(--dark-primary);
    font-weight: 700;
}
.btn.btn-primary:hover{
background-color: var(--primary-hover);     

}
.btn-dark-outlined{
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    font-weight: 600;

}

.btn-dark-outlined:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600 ;
  }


/* about-section */
.about-section{
    background-color: #262D37;
    color: var(--white);
    padding: 50px 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-section img{
    
    border-radius: 50%;
    border: 5px solid var(--primary);
    box-shadow: 0px 0px 50px var(--primary);
}
.about-section--desc{
    margin-left: 100px;
    max-width: 400px;
    
}
.about-section--desc h4{
    font-weight: 800;
    font-size: 30px;
}
.about-section--desc ol{
    list-style: none;
    margin: 10px 0;
}
.about-section--desc ol li{
    margin-bottom: 8px;
    color: gray;
}
.about-section--desc li a{
    text-decoration: none;
    color: gray;
}
.about-section--desc li a:hover{
    color: var(--primary);
}
.about-section--desc ol li strong {
    color: var(--white);
}

/* Work Section */
.works-section {
    background-color: var(--dark-primary);
    color: var(--white);
    padding: 60px 60px;
    text-align: center;
}
.works-section__title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}
.works-section-item{
    display: flex;
    justify-content: center;
}
.works-section-box {
    background-color:var(--about-setion);
    padding: 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 100px;
    

}
.works-section-box:hover{
    background-color: rgb(33, 17, 17);
}
.works-section-box p{
    color: grey;
    padding-top: 10px;
    
}
.works-section-box a {
    color:var(--primary) ;
    text-decoration: none;
    margin-top: 10px;
    

}
.works-section-box__desc {
    margin-bottom: 20px;
    margin-top: 10px;
}
 
.works-section-box__icon {
  background-color: var(--primary-hover);  
  width: auto;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.works-section-box__icon:hover{
    background-color: var(--primary-hover);
    
}
/* Contact Section */
.contact-section{
  background-color: var(--about-setion);
  color: var(--white);
  padding: 40px;
  text-align: center;

}

.contact-section h4{
  font-size: 30px;
  margin: 20px 0;
}
.contact-section form input, textarea {
   padding: 10px 10px;
   outline: none;
   width: 350px;
   border: none;
   background-color: rgb(232, 232, 232);
   border-radius: 2px;
   margin-bottom: 10px;

}

/* footer */

footer{
  background-color: var(--dark-primary);
  color: var(--white);
  padding: 20px 0px;
  text-align: center;
  
}

footer a {
  text-decoration: none;
  color: var(--primary);
}
